In [28]:
#IMPORT ALL REQUIRED LIBRARIES

import pandas as pd
import numpy as np 
import datetime as dt

In [29]:
#LOADING DATA

data = pd.read_csv('googleplaystore_IMPURE.csv')

In [30]:
#CHECK FOR NULL VALUES
data.isnull().sum()

Unnamed: 0           0
App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [31]:
#DROPPING NULL VALUES

data.dropna(inplace = True)

In [32]:
#DROOPING UNNECESSARY COLUMNS

data.drop(columns= 'Unnamed: 0', inplace = True)

In [33]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,18-Jun-17,1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [34]:
#LIST OF ALL COLUMN NAMES

data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [35]:
#CORRECTING DATE AND TIME FORMAT 

data['Last Updated']= pd.to_datetime(data['Last Updated'], errors = 'coerce')                 #coerce puts NAT in place of invalid data

In [36]:
#GET DATA INFORMATION 

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9360 non-null   object
 1   Category        9360 non-null   object
 2   Rating          9360 non-null   float64
 3   Reviews         9360 non-null   object
 4   Size            9360 non-null   object
 5   Installs        9360 non-null   object
 6   Type            9360 non-null   object
 7   Price           9360 non-null   object
 8   Content Rating  9360 non-null   object
 9   Genres          9360 non-null   object
 10  Last Updated    9360 non-null   datetime64[ns]
 11  Current Ver     9360 non-null   object
 12  Android Ver     9360 non-null   object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 1023.8+ KB

In [37]:
#SETTING REQUIRED DATE TIME FORMAT

data['Last Updated']= data['Last Updated'].dt.strftime('%Y-%m-%d')        #CORRECTING DATE TIME USING DATETIME LIBRARY

In [41]:
#CLEANING INSTALLS COLUMN

data['Installs']= data['Installs'].str.replace('+','')
data['Installs']= data['Installs'].str.replace(',','')

#CHANGING DATATYPE TO INT

data["Installs"] = data['Installs'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_16344\1313678085.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Installs']= data['Installs'].str.replace('+','')

In [56]:
#CLEANING REVIEWS COLUMN

data.drop(data[data['Reviews']=='3.0M'].index,inplace=True)

#CHANGING DATATYPE TO INT

data['Reviews']= data['Reviews'].astype(int)

In [57]:
#CLEANING PRICE COLUMN

data['Price']=data['Price'].str.replace('$','')
data['Price']= data['Price'].astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_16344\229189173.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Price']=data['Price'].str.replace('$','')

In [58]:
CHECKING FOR ANY FURTHER NULL VALUES

data.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [61]:
#NOW DATAFRAME IS CLEAN TO USE, DUMPING IN NEW CSV FILE.

data.to_csv('googleplaystore_CLEAN', index = False)